<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.subin.p1.board.notice.NoticeDAO">
  	
  	<!-- Get List -->
  	<select id="getList" resultType="BoardDTO">
  		SELECT * FROM NOTICE
  	</select>
  		
  </mapper>