<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.subin.p1.board.notice.NoticeDAO">
  
  		<insert id="setFile" parameterType="BoardFilesDTO">
  			INSERT INTO noticeFiles (fileNum, num, fileName, oriName)
  			VALUES (mf_num_seq.nextval, #{num}, #{fileName}, #{oriName})
  		</insert>
  		
  		<select id="getFile" parameterType="BoardDTO" resultType="BoardFilesDTO">
  			SELECT * FROM NoticeFiles WHERE NUM = #{num}
  		</select>
  		
  		<!-- Total Count 구하기 -->
  		<select id="getCount" resultType="Long" parameterType="Pager">
  			SELECT COUNT(NUM) FROM NOTICE
	  		 	WHERE 
		            <choose>
		            	<when test="kind == 'num'">
		            		NUM
		            	</when>
		            	<when test="kind == 'title'">
		            		TITLE
		            	</when>
		            	<otherwise>
		            		CONTENTS
		            	</otherwise>
		            </choose>
	            LIKE '%' || #{search} || '%'
  		</select>
		<select id="getList" resultType="NoticeDTO" parameterType="Pager">
			SELECT * FROM
			    (SELECT ROWNUM R, BK.* FROM
			        (SELECT *
			            FROM NOTICE
 			            WHERE 
				            <choose>
				            	<when test="kind == 'num'">
				            		NUM
				            	</when>
				            	<when test="kind == 'title'">
				            		TITLE
				            	</when>
				            	<otherwise>
				            		CONTENTS
				            	</otherwise>
				            </choose>
				            LIKE '%' || #{search} || '%'
				            ORDER BY NUM DESC
			        ) 
			        BK
			     )
			WHERE R between #{startRow} and #{lastRow}
		</select>
		
		<resultMap type="NoticeDTO" id="getSelectResult">
			<id column="num" property="num"/>
			<result column="title" property="title"/>
			<result column="contents" property="contents"/>
			<result column="writer" property="writer"/>
			<result column="regDate" property="regDate"/>
			<result column="hits" property="hits"/>
			<!-- 1:N, DTO내에 List가 멤버변수로 선언 -->
			<collection property="files" javaType="List" ofType="BoardFilesDTO">
				<id column="fileNum" property="fileNum"/>
				<result column="num" property="num"/>
				<result column="fileName" property="fileName"/>
				<result column="oriName" property="oriName"/>
			</collection>
		</resultMap>
		
		<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
			select N.*, NF.* from notice N inner join noticefiles NF on (N.num = NF.num)
			where N.num = #{num}
		</select>
		
		<!-- <select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO">
			SELECT * FROM NOTICE WHERE NUM=#{num}
		</select> -->
		
		<insert id="setInsert" parameterType="BoardDTO">
			<selectKey order="BEFORE" resultType="Long" keyProperty="num">
				SELECT NOTICE_NUM_SEQ.NEXTVAL FROM DUAL
			</selectKey>
			INSERT INTO NOTICE(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS)
			VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0)
		</insert>
	
		<delete id="setDelete" parameterType="BoardDTO">
			DELETE FROM NOTICE WHERE NUM=#{num}
		</delete>
		
		<update id="setUpdate" parameterType="BoardDTO">
			UPDATE NOTICE SET TITLE=#{title},CONTENTS=#{contents},WRITER=#{writer} 
			WHERE NUM=#{num}
		</update>


  
  </mapper>